.containerAreas{
    width: 100%;
    padding-block: 90px;
    display: flex;
    @media (max-width: 480px) {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
.titleAreas{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #D4A55F;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 10px;
    @media (max-width: 480px) {
        font-size: 28px;
    }
}
.contentCardAreas{
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-inline: 20px;
    
}
.contentCardAreas:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.titleCardAreas{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #000000;
    @media (max-width: 480px) {
        font-size: 22px;
        line-height: 45px;
    }
}
.textCardAreas{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #494949;
    @media (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
    }
}
.containerCardsArea{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding-top: 5px;
    @media (max-width: 480px) {
        gap: 0px;
    }
}
.btnScheduling{
    margin-inline: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #00264C;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #00264C;
}
.btnScheduling:hover{
    background-color: #00264C;
    color: #fff;
}