.containerAdress{
    width: 100%;
    background-color: #D4E5FF;
    padding-block: 70px;
    box-shadow: 0px 9px 28px 0px rgba(0, 0, 0, 0.25);
}
.titleAdress{
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #D4A55F;
    text-align: center;
    margin-bottom: 60px;
    text-decoration: underline;    
    text-underline-offset: 7px;

}
.contentAdress{
    width: 100%;
    display: flex;
    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
     }
}
.textAdress{
    width: 75%;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justified;
    color: #494949;
    margin-bottom: 65px;
    @media (max-width: 920px) {
        font-size: 18px;
    }
}
.divColum{
    width: 100%;
    height: 290px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media (max-width: 1080px) {
        margin-inline: 20px;
    }
    @media (max-width: 480px) {
       width: initial;
     }
}
@media (max-width: 480px) {
    .divColum:first-child{
        order: 2;
    }
 }
 .iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }
.btnAdress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #00264C;
    background: #00264C;
    color: #fff;
    gap: 20px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    line-height: 28px;
}
.btnAdress:hover{
    opacity: 0.8;
}
@media (max-width: 480px) {
    .divColum:first-child{
        order: 2;
    }
    .textAdress{
        width: 100%;
        text-align: justify;
        margin-bottom: 50px;
    }
    .iframe{
        width: 340px;
    }
    .titleAdress{
        font-size: 28px;
        line-height: 25px;
    }
    .containerAdress{
        padding-block: 30px;
    }
    .btnAdress{
        margin-inline: auto;
    }
 }