.containerFooter{
    width: 100%;
    background-color: #D4E5FF;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textFooter{
    color: #D4A55F;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    line-height: 24px;
}
.linkFooter{
    color: #00264C;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}