.containerFooter{
    width: 100%;
    background-color: #D4E5FF;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textFooter{
    color: #D4A55F;
    text-align: center;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    line-height: 24px;
}
.linkFooter{
    color: #00264C;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
@media (max-width: 480px){
    .textFooter{
        font-size: 16px;
        width: 300px;
    }
    .containerFooter{
        height: 120px;
    }
}